<header id="header">
    <div class="header_brand">
        <img src="#" class="brand_logo">
    </div>
    <div class="header_title">
        <a href="/">Withus</a>
    </div>
    <div class="header_menu">
        <ul>
            <li>
                <a href="#">MenuA</a>
            </li>
            <li>
                <a href="#">MenuB</a>
            </li>
            <li>
                <a href="#">MenuC</a>
            </li>
            <li>
                <a href="#">MenuD</a>
            </li>
            <li>
                <a href="#">MenuE</a>
            </li>
        </ul>
    </div>
    <div class="header_contact">
        <ul>
            <li>
                <a href="#">Login</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>
        </ul>
    </div>
</header>