<html lang="ko">
{{> HEAD/head}}
<body>
{{> Header/header}}
<p>회원 가입 페이지 입니다.</p>
<form name="registerForm" action="doRegister" method="post">
    <table id="registerForm">
        <tr>
            <th colspan=3 align=center><strong><font size=5>회원가입</font></strong></th>
        </tr>

        <tr>
            <td>아이디</td>
            <td><input name="userAccount" size="25"/>
                <input placeholder="ID" type="button" value="ID 중복체크" onClick="#"/>
            </td>
        </tr>

        <tr>
            <td>비밀번호</td>
            <td><input placeholder="********"  type="password" name="userPassword" size="25" /></td>
        </tr>

        <tr>
            <td>비밀번호 확인</td>
            <td><input type="password" name="confirmPassword" size="25"/></td>
        </tr>

        <tr>
            <td>이름</td>
            <td><input placeholder="홍길동" name="userName" size="25" /></td>
        </tr>

        <tr>
            <td>성별</td>
            <td>남<input type="radio" name="userGender" value="남성" checked>
                여<input type="radio" name="userGender" value="여성">
            </td>
        </tr>

        <tr>
            <td>생년월일</td>
            <td><input name="birthday" size=6></td>
        </tr>

        <tr>
            <td>Email</td>
       <td><input placeholder="example@naver.com" name="userEmail" size=30></td>
        </tr>

        <tr>
            <td>우편번호</td>
            <td><input name="zipcode" size=5>
                <input type="button" value="우편번호 찾기" onClick="zipSearch()">
            </td>
        </tr>

        <tr>
            <td>주소</td>
            <td><input name="address" size=30></td>
        </tr>

        <tr>
            <td colspan=2>
                <input type="submit" value="회원가입" >
                <input type="reset" value="다시 쓰기">
                <input type="button" value="로그인" onClick="#">
            </td>
        </tr>
    </table>

</form>
</body>
</html>